{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
	    <title>{% block title %}{% endblock %}</title>
	    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css" charset="utf-8" />
		<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
		{% block jsincludes %}{% endblock %}
		<script type="text/javascript">{% block jsvariables %}{% endblock %}</script>
		<script type="text/javascript" src="{% block javascript %}{% endblock %}"></script>
	</head>
	<body>
		<div class="text-center"><h2>Two Rooms and a Boom Sidekick</h2></div>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
