{% extends "base.html" %}

{% block title %}New Room{% endblock %}

{% block content %}
<div class="page-header">
	<h3 class="header-link">New Room</h3>
</div>
<form class="form-horizontal" role="form" action="{% url 'create_room' %}" method="POST" id="room-form">
	{% csrf_token %}
	{{ form.non_field_errors }}
	{{ form.name.errors }}
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-home"></span>
			&nbsp;Name
		</label>
		<div class="edit col-sm-10">
			<input type="text" class="form-control" name="name" id="name" placeholder="Enter a name..." {% if form.name.value %}value="{{ form.name.value }}"{% endif %}>
		</div>
	</div>
	{{ form.description.errors }}
	<div class="form-group">
		<label for="description" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-pencil"></span>
			&nbsp;Description
		</label>
		<div class="edit col-sm-10">
			<input type="text" class="form-control" name="description" id="description" placeholder="Enter a description..." {% if form.description.value %}value="{{ form.description.value }}"{% endif %}>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<input type="submit" class="btn btn-primary" role="button" id="create-room" value="Create">
		</div>
	</div>
</form>
{% endblock %}
