{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Two Rooms and a Boom Sidekick{% endblock %}
{% block jsincludes %}
<script type="text/javascript" src="{% static "js/socket.io.min.js" %}"></script>
{% endblock %}
{% block jsvariables %}
var max_players = {{ max_players }};
var players = [
	{% for player in players %}
	'{{ player }}'{% if not forloop.last %},{% endif %}
	{% endfor %}
];
{% endblock %}
{% block javascript %}{% static "js/game.js" %}{% endblock %}

{% block content %}
<div class="page-header">
	<h3 class="header-link">Loading...</h3>
</div>
<p>Players in this room:</p>
<ol class="player-list"></ol>
<p>Roles in this game:</p>
{% for team, roles in teams %}
<div class="row">
	{% for role in roles %}
	<div class="col-md-2">
	<img src="{% static role.character.img %}" alt="{{ role.character.name }}" class="img-responsive">
	</div>
	{% endfor %}
</div>
<br />
{% endfor %}
{% endblock %}
