{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="page-header">
	<h3 class="header-link login">Login or <a href="{% url 'register' %}">create an account</a></h3>
</div>
<form class="login form-horizontal" role="form" action="{% url 'login' %}{% if redirect_url %}?next={{ redirect_url }}{% endif %}" method="POST" id="login-form">
	{% csrf_token %}
	{{ form.non_field_errors }}
	{{ form.username.errors }}
	<div class="form-group">
		<label for="Username" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-envelope"></span>
			&nbsp;Username or Email
		</label>
		<div class="edit editUsername col-sm-10">
			<input type="text" class="editUsername form-control" name="username" placeholder="jsmith" {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
		</div>
	</div>
	{{ form.password.errors }}
	<div class="form-group">
		<label for="Password" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-asterisk"></span>
			&nbsp;Password
		</label>
		<div class="edit editPassword col-sm-10">
			<input type="password" class="editPassword form-control" name="password">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<input type="submit" class="btn btn-primary" role="button" id="submit-login" value="Login">
		</div>
	</div>
</form>
{% endblock %}
