{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Create an Account{% endblock %}

{% block content %}
<div class="page-header">
	<h3 class="header-link register">Create an account or <a href="{% url 'login' %}">login</a></h3>
</div>
<form class="register form-horizontal" role="form" action="{% url 'register' %}" method="POST" id="register-form">
	{% csrf_token %}
	{{ form.non_field_errors }}
	{{ form.first_name.errors }}
	{{ form.last_name.errors }}
	<div class="form-group">
		<label for="loginName" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-user"></span>
			&nbsp;Name
		</label>
		<div class="edit editFirstName col-sm-5">
			<input type="text" class="editFirstName form-control" name="first_name" placeholder="John" {% if form.first_name.value %}value="{{ form.first_name.value }}"{% endif %}>
		</div>
		<div class="edit editLastName col-sm-5">
			<input type="text" class="editFirstName form-control" name="last_name" placeholder="Smith" {% if form.last_name.value %}value="{{ form.last_name.value }}"{% endif %}>
		</div>
	</div>
	{{ form.email.errors }}
	<div class="form-group">
		<label for="loginEmail" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-envelope"></span>
			&nbsp;Email
		</label>
		<div class="edit editEmail col-sm-10">
			<input type="email" class="editEmail form-control" name="email" placeholder="jsmith@example.com" {% if form.email.value %}value="{{ form.email.value }}"{% endif %}>
		</div>
	</div>
	{{ form.username.errors }}
	<div class="form-group">
		<label for="loginUsername" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-user"></span>
			&nbsp;Username*
		</label>
		<div class="edit editUsername col-sm-10">
			<input type="text" class="editUsername form-control" name="username" placeholder="jsmith" {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
		</div>
	</div>
	{{ form.password.errors }}
	<div class="form-group">
		<label for="loginPassword" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-asterisk"></span>
			&nbsp;Password*
		</label>
		<div class="edit editPassword col-sm-10">
			<input type="password" class="editPassword form-control" name="password">
		</div>
	</div>
	{{ form.password_confirm.errors }}
	<div class="form-group">
		<label for="loginPasswordConfirm" class="col-sm-2 control-label">
			<span class="glyphicon glyphicon-asterisk"></span>
			&nbsp;Password Confirm*
		</label>
		<div class="edit editPasswordConfirm col-sm-10">
			<input type="password" class="editPasswordConfirm form-control" name="password_confirm">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2"></div>
		<div class="col-sm-10">
			<input type="submit" class="btn btn-primary" role="button" id="submit-register" value="Create Account">
			<input type="reset" class="btn btn-default btn-reset" value="Reset">
		</div>
	</div>
</form>
{% endblock %}
