{% extends "base.html" %}

{% block title %}Rooms{% endblock %}

{% block content %}
<div class="page-header">
	<h3 class="header-link">Room List</h3>
</div>
{% if rooms %}
<table class="table table-striped">
<thead>
<tr>
	<th>#</th>
	<th>Host</th>
	<th>Name</th>
	<th>Description</th>
	<th>Status</th>
	<th># Players</th>
	<th># Rounds</th>
	<th>&nbsp;</th>
</tr>
</thead>
<tbody>
{% for room in rooms %}
<tr>
	<td>{{ room.id }}</td>
	<td>{{ room.host }}</td>
	<td>{{ room.name }}</td>
	<td>{% if room.description %}{{ room.description }}{% else %}&nbsp;{% endif %}</td>
	<td>{{ room.status }}</td>
	<td>{% if room.active_game %}{{ room.active_game.num_players }}/{{ room.active_game.max_players }}{% else %}n/a{% endif %}</td>
	<td>{% if room.active_game %}{{ room.active_game.num_rounds }}{% else %}n/a{% endif %}</td>
	<td>
	{% if room.status == 'Idle' %}
	<a href="{% url 'start_game' room=room.id %}" class="btn btn-success btn-sm">Start Game</a>
	{% elif room.status == 'Available' %}
	<a href="{% url 'room' room=room.id %}" class="btn btn-success btn-sm">Join Game</a>
	{% else %}
	&nbsp;
	{% endif %}
	</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p>There are no rooms. Why don't you <a href="{% url 'create_room' %}">create the first one</a>?</p>
{% endif %}
<p><a href="{% url 'create_room' %}" class="btn btn-primary">New Room</a></p>
{% endblock %}
