{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Game Setup{% endblock %}
{% block javascript %}{% static "js/start_game.js" %}{% endblock %}

{% block content %}
<div class="page-header">
	<h3 class="header-link">Game Setup</h3>
</div>
<form class="form-horizontal" role="form" action="{% url 'start_game' room=room %}" method="POST" id="start-game-form">
	{% csrf_token %}
	{{ form.non_field_errors }}
	{% for team in teams %}
	<div class="team row">
		<div class="col-md-12"><h3>Team {{ team.name }} <small>{{ team.description }}</small></h3></div>
		{% for character in team.characters %}
		<div class="character col-md-3">
			<div class="row">
				<div class="col-md-12">
					<img src="{% static character.img %}" alt="{{ character.name }}" class="img-responsive">
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h5>{{ character.name }} <small>{{ character.description }}</small></h5>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{% if character.required %}
					<input type="number" class="num-character form-control" name="num_char_{{ character.id }}" min="1" max="1" value="1" disabled="disabled">
					{% else %}
					<input type="number" class="num-character form-control" name="num_char_{{ character.id }}" min="0" max="100" value={% if character.num %}{{ character.num }}{% else %}0{% endif %}>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<hr />
	{% endfor %}
	<button type="submit" class="start-btn btn btn-primary btn-lg btn-block" disabled="disabled">Need 4 more players to start a game with 6 players</button>
</form>
<br />
{% endblock %}
